02_lesson/.ipynb_checkpoints/02_lesson-checkpoint.ipynb
*checkpoint*
./04_lesson/04_bayes.ipynb
data/credit_card.csv
data/credit_card.csv
data/wine-clustering.csv
09_lesson
09_lesson/covid19.csv
09_lesson/covid19_world.csv
*.db